/* More space at the bottom of the page. */
.md-main__inner {
  margin-bottom: 1.5rem;
}

/* API REFERENCE */

div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: 0.05rem solid var(--md-typeset-table-color);
}

.md-typeset figcaption {
  font-size: smaller;
}

code.doc-symbol {
  opacity: 0.6;
}

/* Show "/" hint in search bar */
[data-md-toggle="search"]:not(:checked) ~ .md-header .md-search__form::after {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  display: block;
  padding: 0.05rem 0.4rem 0.15rem;
  color: var(--md-default-fg-color--lighter);
  font-weight: bold;
  font-size: 0.8rem;
  border: 0.05rem solid var(--md-default-fg-color--lightest);
  border-radius: 0.1rem;
  content: "/";
}

.md-footer .md-copyright {
  display: none;
}

.md-footer .md-social {
  margin-left: auto;
}

header:not(:has(.md-header__title--active)) {
  box-shadow: none;
}

.widget-image {
  max-height: 600px;
  display: block;
  margin: auto;
  border-radius: 0.4rem;
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.1);
}
